@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
/* html::-webkit-scrollbar {
  display: none;
} */

@layer base {
  :root {
    --transparent: rgb(0, 0, 0, 0);
    --text: #0e1011;
    --background: #f5f7f9;
    --primary: #2b4154;
    --secondary: #8cb0cf;
    --accent: #3774a9;
  }

  body.dark {
    /* Color for dark mode */
    --transparent: rgb(0, 0, 0, 0);
    --text: #eef0f1;
    --background: #06080a;
    --primary: #aac0d3;
    --secondary: #315574;
    --accent: #5793c8;
  }

  /* Texture overlay */
  .texture-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../public/binding_dark.png");
    background-size: auto;
    background-repeat: repeat;
    pointer-events: none;
    z-index: 9999;
    opacity: 0.05;
    filter: contrast(110%) brightness(1000%);
  }

  body {
    @apply bg-light-background; /* Light mode background color */
  }
  .dark {
    @apply bg-dark-background; /* Dark mode background color */
  }

  html {
    @apply text-light-text;
  }
  body {
    @apply text-light-text;
  }
  @media (prefers-color-scheme: dark) {
    html {
      @apply text-dark-text;
    }

    body {
      @apply text-dark-text;
    }
  }
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  font-family: "General Sans", sans-serif;
}

/* Your existing customizations */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.blinker {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.font-khand {
  font-family: "Khand", sans-serif;
}

.font-generalsans {
  font-family: "General Sans", sans-serif;
}

@layer components {
  .font-outline {
    position: relative;
    color: var(--primary); /* Your text color */
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: var(--primary); /* Stroke color */
  }

  @media (prefers-color-scheme: dark) {
    .font-outline {
      position: relative;
      color: var(--primary); /* Your text color */
      -webkit-text-stroke-width: 4px;
      -webkit-text-stroke-color: var(--primary); /* Stroke color */
    }
  }

  .font-outline::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    color: transparent;
    -webkit-text-stroke-width: 0px;
    visibility: visible;
  }
}

.infinity-carousel {
  white-space: nowrap;
  animation: 30s slide infinite linear;
}
/* 
.infinity-carousel:hover {
  animation-play-state: paused;
} */

.categories {
  overflow: hidden;
  position: relative;
}

.categories::before,
.categories::after {
  position: absolute;
  top: 0;
  width: 200px;
  height: 100%;
  content: "";
  z-index: 2;
}

.categories::before {
  left: 0;
  background: linear-gradient(to left, var(--transparent), var(--primary));
}

.categories::after {
  right: 0;
  background: linear-gradient(to right, var(--transparent), var(--primary));
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.section-padding {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100lvh;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 25px;
  padding-right: 25px;
}

.custom-height {
  min-height: calc(100vh - 102px);
  height: calc(100vh - 102px);
}

.no-padding-y {
  padding-top: 0;
  padding-bottom: 0;
}

.header-text {
  transform: translateY(0px) translateZ(0px);
}

.section-heading {
  font-size: 64px;
  font-weight: 600;
  text-transform: uppercase;
}

.section-subheading {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.hero-text {
  font-weight: bold;
  font-size: 64px;
  text-transform: uppercase;
  line-height: 50px;
}

.info-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.375;
  text-wrap: balance;
}

.navigation-text {
  font-size: 32px;
}

.body-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.375;
  text-wrap: balance;
}

.nav-container {
  display: flex;
  flex-direction: row;
  height: 100px;
  align-items: center;
}

.dropdown-nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  right: 0;
  width: 100vw; /* w-screen */
  height: 100vh; /* h-screen */
  padding-right: 25px; /* px-[25px] */
  padding-left: 50px; /* px-[25px] */
  padding-bottom: 25px; /* pb-[25px] */
  z-index: 20;
}

.magnetic-button {
  position: relative;
  display: inline-block;
}

.magnetic-button button {
  position: relative;
  transition: transform 0.2s ease-out;
}

@media (min-width: 1024px) {
  .section-padding {
    padding-left: 50px;
    padding-right: 50px;
  }

  .section-heading {
    font-size: 112px;
  }

  .section-subheading {
    font-size: 32px;
  }

  .body-text {
    font-size: 32px;
  }

  /* Assuming 'lg' breakpoint is at 1024px */
  .dropdown-nav {
    width: 847px; /* lg:w-[847px] */
    height: 606px; /* lg:h-[606px] */
    padding-left: 25px; /* px-[25px] */
  }
}

@media (min-width: 1280px) {
  .section-padding {
    padding-left: 150px;
    padding-right: 150px;
  }

  .section-heading {
    font-size: 156px;
  }
}

@media (min-width: 1921px) {
  .section-padding {
    padding-left: 250px;
    padding-right: 250px;
  }
}

@media (min-width: 560px) {
  .hero-text {
    font-weight: bold;
    font-size: 128px;
    line-height: 100px;
  }
}

@media (min-width: 768px) {
  .hero-text {
    font-weight: bold;
    font-size: 180px;
    line-height: 150px;
  }
}

@media (min-width: 640px) {
  .navigation-text {
    font-size: 64px;
  }
}
