@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
/* html::-webkit-scrollbar {
  display: none;
} */

@layer base {
  /* Texture overlay */
  .texture-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../public/binding_dark.png");
    background-size: auto;
    background-repeat: repeat;
    pointer-events: none;
    z-index: 999999;
    opacity: 0.05;
    filter: contrast(110%) brightness(1000%);
  }

  body {
    @apply bg-light-background; /* Light mode background color */
  }
  .dark {
    @apply bg-dark-background; /* Dark mode background color */
  }
}

/* Your existing customizations */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.blinker {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  font-family: "General Sans", sans-serif;
}

.body-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.375;
  text-wrap: balance;
}

.custom-height {
  min-height: calc(100vh - 102px);
  height: calc(100vh - 102px);
}

.dropdown-nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  right: 0;
  width: 100vw; /* w-screen */
  height: 100vh; /* h-screen */
  padding-right: 25px; /* px-[25px] */
  padding-left: 50px; /* px-[25px] */
  padding-bottom: 25px; /* pb-[25px] */
  z-index: 20;
}

.font-khand {
  font-family: "Khand", sans-serif;
}

.font-generalsans {
  font-family: "General Sans", sans-serif;
}

.header-text {
  transform: translateY(0px) translateZ(0px);
}

.hero-text {
  font-weight: bold;
  font-size: 64px;
  text-transform: uppercase;
  line-height: 50px;
}

.infinity-carousel {
  animation: 30s slide infinite linear;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.info-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.375;
  text-wrap: balance;
}

.logo {
  @apply text-light-text;
}

@media (prefers-color-scheme: dark) {
  .logo {
    @apply text-dark-text;
  }
}


.magnetic-button {
  position: relative;
  display: inline-block;
}

.magnetic-button button {
  position: relative;
  transition: transform 0.2s ease-out;
}

.nav-container {
  display: flex;
  flex-direction: row;
  height: 100px;
  align-items: center;
}

.navigation-text {
  font-size: 64px;
}

.no-padding-y {
  padding-top: 0;
  padding-bottom: 0;
}

.section-padding {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100lvh;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 25px;
  padding-right: 25px;
}

.section-heading {
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}

.section-subheading {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

@media (min-width: 560px) {
  .hero-text {
    font-weight: bold;
    font-size: 128px;
    line-height: 100px;
  }

  .body-text {
    font-size: 16px;
  }

  .navigation-text {
    font-size: 78px;
  }
}

@media (min-width: 640px) {
  .navigation-text {
    font-size: 78px;
  }

  .body-text {
    font-size: 24px;
  }

  .section-heading {
    font-size: 64px;
  }
}

@media (min-width: 768px) {
  .hero-text {
    font-weight: bold;
    font-size: 180px;
    line-height: 150px;
  }

  .navigation-text {
    font-size: 78px;
  }
}

@media (min-width: 1024px) {
  .section-padding {
    padding-left: 50px;
    padding-right: 50px;
  }

  .section-heading {
    font-size: 64px;
  }

  .section-subheading {
    font-size: 32px;
  }

  .body-text {
    font-size: 24px;
  }

  /* Assuming 'lg' breakpoint is at 1024px */
  .dropdown-nav {
    width: 847px; /* lg:w-[847px] */
    height: 606px; /* lg:h-[606px] */
    padding-left: 25px; /* px-[25px] */
  }

  .navigation-text {
    font-size: 52px;
  }
}

@media (min-width: 1280px) {
  a,
  label,
  input,
  textarea,
  div,
  button {
    cursor: none !important;
  }
}

@media (min-width: 1536px) {
  .section-padding {
    padding-left: 150px;
    padding-right: 150px;
  }

  .section-heading {
    font-size: 128px;
  }

  a,
  label,
  input,
  textarea,
  div,
  button {
    cursor: none !important;
  }
}

@media (min-width: 1921px) {
  .section-padding {
    padding-left: 250px;
    padding-right: 250px;
  }

  a,
  label,
  input,
  textarea,
  div,
  button {
    cursor: none !important;
  }
}
